body {
	text-align:center;
	background-color: #f9be53;

}
h1 {
	font-weight:normal;
	font-size: 45pt;
}

label {
	font-weight:bold;
	font-size: 24pt;
}


input {
width: 95%;
border-style: dashed;
margin: 8px 0;
	padding: 15px;
}

input [type=submit] {
}



@media only screen and (min-width: 800px){
	body{
		background-color: #0782fc;
	}

	input {
		width: 50%;
		padding: 25px 50px;
	}

}

