/*
https://www.modularscale.com/?22,45&px&1.125
*/
body {
  text-align:center;
  background-color: #f9be53;
  font-family: 'Syne Tactile',' Comic Sans MS';
}

h1 {
  font-weight:normal;
  font-size: 32px; /*1.375em*/
}

label {
  font-weight:bold;
  font-size: 22px; /*1.375em*/
}
input {
  width: 85%;
  border-style: dashed;
  margin: 8px 0;
  padding: 15px;
}

input [type=submit] {
	  text-align: center;
}

.picture{
  width: 85%;
}

@media only screen and (min-width: 800px){
  body{
    background-color: #0782fc;
  }
h1 {
 
  font-size: 55px; /*3.437em*/
}
  input {
    width: 50%;
    padding: 25px 50px;
  }
  .picture{
    width: 40%;
  }
}

@media only screen and (max-width: 200px){
  body{
    background-color: #5eb03f;
  }
h1 {
 
   font-size: 15px; /*0.966em*/
}
input {
    width: 80%;
}
}